.listitem {
  background-color: #ddd;
  color: #333;
  font-size: 1rem;
  list-style: none;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 1rem;
}
.listitem::before {
  content: attr(data-ref);
  display: block;
  box-sizing: border-box;
  background-color: #eee;
  color: #333;
  font-weight: 300;
  font-size: 1.5rem;
  width: 40px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: -30px;
}
.listitem::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 0;
  height: 0;
  content: '';
  left: -30px;
  top: 20px;
  border: 15px solid #ccc; /* half the height of ::before */
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.listitem .title {
  font-size: 1.5rem;
  padding: 0.1rem 0;
  margin: 0.1rem 0;
  color: cornflowerblue;
}
.listitem p {
  font-size: 1rem;
  padding: 0.1rem 0;
  margin: 0.1rem 0;
  color: #444;
}
