.searchBar {
  background-color: cornflowerblue;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* new */
  gap: 2rem;
  z-index: -1;
  margin-top: -5px;
}
.searchBar input,
.searchBar button {
  font-size: inherit;
}
